* {
  all: unset;
  font-size: 14px;
  /* font-family: "Ubuntu Nerd Font"; */
  /* font-family: "CodeNewRoman Nerd Font Propo"; */
  font-family: "Hack Nerd Font Mono";
  transition: 200ms;
}

trough highlight {
  background: #cad3f5;
}

scale trough {
  margin: 0rem 1rem;
  background-color: #363a4f;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: #8aadf4;
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(160, 58, 58, 0.879), inset 0 0 0 1px #363a4f;
  border-radius: 12.6px;
  margin: 18px;
  background-color: #24273a;
  color: #cad3f5;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
  color: whitesmoke;
  background: rgb(6, 6, 6);
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #ed8796;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: #cad3f5;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: #a5adcb;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: #cad3f5;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: #cad3f5;
  background-color: #10258e;
  box-shadow: inset 0 0 0 1px #494d64;
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #363a4f;
  color: #cad3f5;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #7dc4e4;
  color: #cad3f5;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #24273a;
  background-color: #ed8796;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: #ee99a0;
  color: #24273a;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: #ed8796;
  color: #24273a;
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #363a4f;
  border-radius: 12.6px;
  margin: 18px;
  background-color: rgba(39, 24, 48, 0.555);
  color: #cad3f5;
  padding: 14px;
}

.control-center .widget-title {
  margin-bottom: 15px;
  padding-bottom: 6px;
  border-bottom: 1px double rgba(251, 251, 251, 0.482);
}

.control-center .widget-title > label {
  color: #cad3f5;
  font-size: 1.3em;
}

.control-center .widget-title button > label {
  background: rgba(255, 0, 0, 0.182);
  border-radius: 30px;
  padding: 4px 7px;
}

.control-center .widget-title button > label:hover {
  background: rgba(253, 99, 99, 0.3);
}

.control-center .widget-title button > label:hover {
  background: rgba(253, 99, 99, 0.704);
}

/* .widget-title button label{
  border-radius: 30px;
  padding: 4px 8px;
  margin: 0px;
} */

.control-center .widget-title button {
  border-radius: 30px;
  /* color: #cad3f5; */
  background: #9a1111bc;
  /* box-shadow: inset 0 0 0 1px #494d64; */
  background: transparent;
  padding: 8px;
}
/* 
.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #5b6078;
  color: #cad3f5;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #7dc4e4;
  color: #24273a;
} */

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: #cad3f5;
  background-color: rgba(68, 71, 90, 0.616);
  box-shadow: inset 0 0 0 1px #494d64;
  margin-top: 14px;
  margin: 7px 2px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #ed8796;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: #080808;
  background: rgb(255, 255, 255);
  font-weight: 900;
  border-radius: 11px;
  margin-right: 8px;
  padding: 4px 10px;
  margin-bottom: 8px;
  box-shadow: 10px 20px 30px 40px #9d0202f3;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: #666854;
  background: rgba(245, 245, 245, 0.611);
  border-radius: 12px;
  padding: 2px 4px;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: #212121;
  border-radius: 18px;
  padding: 3px 8px;
  background: rgba(245, 245, 245, 0.611);
  box-shadow: 10px 30px 30px 10px #7701019d;

}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}


.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: #cad3f5;
  background-color: #181926;
  box-shadow: inset 0 0 0 1px #494d64;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #363a4f;
  color: #cad3f5;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #7dc4e4;
  color: #cad3f5;
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #24273a;
  background-color: #ee99a0;
}

.close-button {
  border-radius: 6.3px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #ed8796;
  color: #24273a;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: #ed8796;
  color: #24273a;
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #8087a2;
  color: #cad3f5;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px #494d64;
  background-color: #7dc4e4;
  color: #cad3f5;
}

.notification {
  background: #000000e1;
}

.notification.critical progress {
  background-color: #ed8796;
}

.notification.low progress,
.notification.normal progress {
  background-color: #8aadf4;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: #363a4f;
  border: 1px solid #494d64;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: #363a4f;
}

.control-center-dnd slider {
  background: #000000;
  border-radius: 20px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 20px;
  background: #939393;
  border: 1px solid #494d64;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: #718d6e;
}

.widget-dnd > switch slider {
  background: rgba(0, 0, 0, 0.415);
  border-radius: 20px;
  border: 1px solid #6e738d;
}

.widget-mpris {
  border-radius: 25px;
  font-weight: 500;
  font-size: 2rem;
  color: rgb(116, 2, 2);
  /* border: 2px solid red; */
}

.widget-mpris .widget-mpris-player {
  margin: 10px 4px;
  border: 5px solid rgba(61, 1, 1, 0.496);
  /* background: rgba(218, 0, 0, 0.451); */
  border-radius: 25px;
  /* padding: 7px; */
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
  color: #000000;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.753);
  padding: 2px 5px;
  border-radius: 18px;
  margin: 0px 4px;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
  color: #000000;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.431);
  padding: 2px 5px;
  border-radius: 18px;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #ed8796;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #363a4f;
}

.control-center .widget-label > label {
  font-family: "CodeNewRoman Nerd Font Propo";
  font-weight: bolder;
  color: #cad3f5;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: #7dc4e4;
}

.widget-volume trough highlight {
  background: #7dc4e4;
}

.widget-backlight trough highlight {
  background: #eed49f;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #eed49f;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}

.blank-window {
  background: transparent;
}
